{
    "backup_device_uuid" : "{{ root_uuid }}",
    "parent_device_uuid" : "",
    "do_first_run" : "false",
    "btrfs_mode" : "false",
    "include_btrfs_home_for_backup" : "false",
    "include_btrfs_home_for_restore" : "false",
    "stop_cron_emails" : "true",
    "schedule_monthly" : "false",
    "schedule_weekly" : "false",
    "schedule_daily" : "false",
    "schedule_hourly" : "false",
    "schedule_boot" : "false",
    "count_monthly" : "2",
    "count_weekly" : "3",
    "count_daily" : "5",
    "count_hourly" : "6",
    "count_boot" : "5",
    "snapshot_size" : "2170132920",
    "snapshot_count" : "51696",
    "date_format" : "%Y-%m-%d %H:%M:%S",
    "exclude" : [
      "/swapfile",
      "/home/**",
      "/root/**",
      "/dev/**",
      "/var/tmp/**",
      "/var/cache/**",
      "/var/log/**",
      "/run/**",
      "/media/**",
      "/mnt/**",
      "/var/run/**",
      "/proc/**/",
      "/sys/**",
      "/run/media/**",
      "/var/lib/kubelet/**",
      "/var/lib/cni/**",
      "/var/lib/containerd/**",
      "/var/lib/docker/**",
      "/var/lib/jenkins/**",
      "/etc/wireguard/**"
    ],
    "exclude-apps" : []
  }