Port {{ ssh_port }}
ListenAddress 0.0.0.0

AuthenticationMethods publickey

Protocol 2

LogLevel INFO

LoginGraceTime 30
MaxAuthTries 3
{% if ssh_is_root_allowed %}
PermitRootLogin yes
{% else %}
PermitRootLogin no
AllowGroups {{ ssh_group }}
{% endif %}

PubkeyAuthentication yes

AuthorizedKeysFile	.ssh/authorized_keys

PasswordAuthentication no
PermitEmptyPasswords no

X11Forwarding no