[sshd]
enabled = true
port = {{ fail2ban_ssh_port }}
filter = sshd
backend=systemd
maxretry = {{ fail2ban_maxretry }}
findtime = {{ fail2ban_findtime }}
bantime = {{ fail2ban_bantime }}
ignoreip = {{ fail2ban_allowed_ip | join(' ') }}